@import url('../../constants/src/constants.css');

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border: 2px solid white;
  font-size: 4vw;
  font-weight: 400;
  font-family: 'Rock Salt', georgia;
  color: black;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: transform .25s ease;
}

@media (min-width: 600px) {
  .logo {
    font-size: 1.5rem;
    padding: 1rem;
    transform: translate3d(0px, 30px, 0px) rotate(-10deg) skew(-10deg, 0deg);
  }
}

.logo:hover {
  transform: translate3d(0, 0, 0) rotate(0deg) skew(0deg, 0deg);
}

.logo svg {
  width: 8vw;
  height: 8vw;
}

@media (min-width: 600px) {
  .logo svg {
    width: 40px;
    height: 40px;
  }
}
