/**
 * Accordion
 *
 * Markup: accordion.twig
 *
 * Style guide: Elements.accordion
 */

.accordion {
  & .accordion__toggle {
    cursor: pointer;
  }

  & .accordion__content {
    visibility: hidden;
    height: 0;
    opacity: 0;
  }

  &.accordion--open {
    & .accordion__content {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }
}
