/**
 * Global Header
 *
 * Markup: global-header.twig
 *
 * Style guide: Grouped Components.global-header
 */

.global__toggle {
  @media (--medium-up) {
    display: none;
  }
}

.global__toggle__menu {
  border: 0 none;
  background-color: var(--primary-bg);
}

/**
 * Logo
 *
 * Markup: logo.twig
 *
 * Style guide: Elements.logo
 */

/**
 * Primary Header
 *
 * A simple inline version of the Primary Header that contains Logo, Navigation and Search
 *
 * Markup: primary-header.twig
 *
 * Style guide: Grouped Components.global-header.primary-header
 */

.global__primary {
  background-color: var(--primary-bg);
  font-size: var(--primary-font-size);
  color: var(--primary-text);

  & .section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.global__primary__nav {
  display: none;

  @media (--medium-up) {
    display: flex;
  }
}

.global__primary__nav--open {
  display: block;
  width: 100%;
}

.global__primary__search {
  margin-top: var(--spacing-m);

  @media (--medium-to-large) {
    display: none;
  }

  @media (--medium-up) {
    margin-top: 0;
    margin-left: var(--spacing-m);
  }

  & label {
    display: none;
  }
}

.global__primary__search__input {
  width: 100%;
}

/**
 * Primary Header Stacked
 *
 * A version of the Primary Navigation which is stacked. The Logo and Search appear in the same row and a new row is created below to contain
 * the main Navigation. Additional styles and markup allow for left and right sections of the navigation, background colour to stretch full screen and padding to suit this layout.
 *
 * Markup: primary-header--stacked.twig
 *
 * Style guide: Grouped Components.global-header.primary-header-stacked
 */

.global__primary--stacked {
  & .section__content {
    padding: 0;
  }

  & .global__primary__nav-menu {
    background-color: var(--stacked-bg);

    @media (--medium-down) {
      background-color: var(--stacked-bg-mobile);
    }
  }

  & .nav {
    padding-left: 0;
    width: 100%;

    @media (--medium-up) {
      width: auto;
    }
  }

  & .nav__level-1 {
    width: 100%;
  }

  & .global__primary__search {
    margin: var(--spacing-xs) 0;
  }
}

.global__primary__logo-search {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--spacing-m);

  & .global__primary__nav {
    @media (--medium-down) {
      background-color: var(--stacked-bg-mobile);
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      width: 100vw;
      padding: 0 1.5rem;
    }
  }
}

.global__primary__nav-menu {
  display: none;
  flex: 0 0 100%;
  justify-content: space-between;
  padding: var(--spacing-xs) 0;

  @media (--medium-up) {
    display: flex;
  }

  &.global__primary__nav--open {
    display: flex;
  }

  & .section__content {
    width: 100%;
    padding: 0 var(--spacing-m);
  }

  & .button {
    margin-top: var(--spacing-xxs);
  }

  & .nav {
    display: flex;
    align-items: center;
    margin-top: 0;

    @media (--medium-up) {
      padding-left: var(--spacing-xs);
    }
  }
}

.global__primary__nav-left,
.global__primary__nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & > * {
    width: 100%;
  }

  @media (--medium-up) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;

    & > * {
      width: auto;
    }
  }
}

/**
 * Secondary Header
 *
 * Markup: secondary-header.twig
 *
 * Style guide: Elements.secondary-header
 */

.global__secondary {
  background-color: var(--secondary-bg);
  font-size: var(--secondary-font-size);
  color: var(--secondary-text);

  & .section__content {
    display: flex;
    justify-content: space-between;
  }

  & a {
    color: var(--secondary-text);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.global__secondary__nav {
  display: none;

  @media (--medium-up) {
    display: inline-block;
  }
}

/**
 * Global Footer
 *
 * Markup: global-footer.twig
 *
 * Style guide: Grouped Components.footer
 */

.global__footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  font-size: var(--footer-font-size);

  & a {
    color: var(--footer-text);
  }
}

.global__footer__logo {
  @media (--medium-down) {
    margin-bottom: var(--spacing-xxxxl);
    text-align: center;
  }
}

.global__footer__meta {
  margin-top: var(--spacing-m);
  padding-top: var(--spacing-s);
  border-top: 1px solid var(--footer-text);
  text-align: center;
  line-height: 2;

  @media (--medium-up) {
    display: flex;
    justify-content: space-between;
  }

  & .nav--inline > ul > li {
    @media (--medium-down) {
      display: block;
    }
  }
}
