:root {
  --secondary-bg: var(--brand-primary);
  --secondary-text: var(--brand-reverse);
  --secondary-font-size: var(--font-size-s);

  --primary-bg: var(--brand-reverse);
  --primary-text: var(--brand-text);
  --primary-font-size: var(--font-size-s);

  --stacked-bg: var(--blue-10);
  --stacked-bg-mobile: var(--white);

  --footer-bg: var(--brand-primary);
  --footer-text: var(--brand-reverse);
  --footer-font-size: var(--font-size-s);
}
