.subheading {
  --mediumdark: '#999999';
  font-weight: 900;
  font-size: 13px;
  color: #999;
  letter-spacing: 6px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 40px;
}

.link-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  row-gap: 10px;
}

@media (min-width: 620px) {
  .link-list {
    grid-row-gap: 20px;
    row-gap: 20px;
    grid-column-gap: 20px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (-ms-high-contrast:none) {
.link-list {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }
}

.link-item {
  display: block;
  padding: 20px 30px 20px 15px;
  border: 1px solid rgba(0,0,0,0.06275);
  border-radius: 5px;
  transition: background 150ms ease-out, border 150ms ease-out, transform 150ms ease-out;
  color: #333333;
  display: flex;
  align-items: flex-start;
}

.link-item:hover {
  border-color: rgba(30,167,253,0.31373);
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.08) 0 3px 10px 0;
}

.link-item:active {
  border-color: #1EA7FD;
  transform: translate3d(0, 0, 0);
}

.link-item strong {
  font-weight: 700;
  display: block;
  margin-bottom: 2px;
}

.link-item img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  flex: none;
}

.link-item span {
  font-size: 14px;
  line-height: 20px;
}

.tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #E7FDD8;
  color: #66BF3C;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

.tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tip-wrapper code {
  font-size: 12px;
  display: inline-block;
}

/**
 * Variables
 */

/* Breakpoints */
@custom-media --x-small-up (width >= 420px);
@custom-media --x-small-down (width < 420px);
@custom-media --x-small-to-small (420px <= width < 540px);

@custom-media --small-up (width >= 540px);
@custom-media --small-down (width < 540px);
@custom-media --small-to-medium (540px <= width < 720px);

@custom-media --medium-up (width >= 720px);
@custom-media --medium-down (width < 720px);
@custom-media --medium-to-large (720px <= width < 946px);

@custom-media --large-up (width >= 946px);
@custom-media --large-down (width < 946px);
@custom-media --large-to-x-large (946px <= width < 1100px);

@custom-media --x-large-up (width >= 1100px);
@custom-media --x-large-down (width < 1100px);

:root {
  --white: rgb(255, 255, 255);
  --grey-05: rgb(242, 242, 243);
  --grey-10: rgb(230, 230, 230);
  --grey-25: rgb(194, 196, 199);
  --grey-50: rgb(128, 128, 128);
  --grey-75: rgb(75, 79, 88);
  --black: rgb(0, 0, 0);
  --blue: rgb(0, 92, 250);
  --blue-50: rgb(99, 181, 222);
  --blue-10: rgb(229, 239, 255);
  --orange: rgb(249, 103, 6);
  --orange-10: rgb(254, 240, 230);
  --green: rgb(68, 162, 72);
  --green-10: rgb(238, 246, 238);
  --red: rgb(199, 41, 41);
  --red-10: rgb(250, 235, 235);
  --yellow: rgb(247, 141, 29);
  --yellow-10: rgb(254, 242, 231);

  /* Brand colors */
  --brand-primary: var(--blue);
  --brand-primary-light: var(--blue-10);
  --brand-secondary: var(--orange);
  --brand-secondary-light: var(--orange-10);
  --brand-reverse: var(--white);
  --brand-text: var(--black);

  /* Typography */
  --font-family: Helvetica, Arial, sans-serif;
  --font-family-variable: Helvetica, Arial, sans-serif;

  --font-size-xxxxl: 3rem; /* 48px - Headline */
  --font-size-xxxl: 2.5rem; /* 40px - H1 */
  --font-size-xxl: 2rem; /* 32px - H2 */
  --font-size-xl: 1.5rem; /* 24px - H3 */
  --font-size-l: 1.125rem; /* 18px - H4 */
  --font-size-m: 1rem; /* 16px - Body, H5 */
  --font-size-s: 0.875rem; /* 14px - H6 */
  --font-size-xs: 0.75rem; /* 12px - Sub */

  --line-height: 1.6;
  --line-height-h: 1.2;
  --line-height-ui: 0.9;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;

  /* Spacing */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 1rem; /* 16px */
  --spacing-m: 1.5rem; /* 24px */
  --spacing-l: 2rem; /* 32px */
  --spacing-xl: 2.5rem; /* 40px */
  --spacing-xxl: 3rem; /* 48px */
  --spacing-xxxl: 3.5rem; /* 56px */
  --spacing-xxxxl: 4rem; /* 64px */
  --spacing-ul: 4.5rem; /* 72px */
  --spacing-uul: 5rem; /* 80px */
  --spacing-uuul: 5.5rem; /* 88px */

  --outline-width: 2px;
  --outline-offset: var(--spacing-xs);

  /* Layout */
  --container-max-width-narrow: 600px;
  --container-max-width-aligned: 768px;
  --container-max-width: 1180px;

  /* Design */
  --box-shadow: .5rem .875rem 1rem rgba(0, 0, 0, .025);
}

@media (--medium-down) {
  :root {
    --font-size-xxxxl: 2rem; /* 32px - Headline */
    --font-size-xxxl: 1.75rem; /* 28px - H1 */
    --font-size-xxl: 1.5rem; /* 24px - H2 */
    --font-size-xl: 1.25rem; /* 20px - H3 */
    --font-size-l: 1.125rem; /* 18px - H4 */
    --font-size-m: 1rem; /* 16px - H5 */
    --font-size-s: 0.875rem; /* 14px - Body, H6 */
    --font-size-xs: 0.75rem; /* 12px */
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-m);
}

.button {
  display: inline-block;
  border: 2px solid;
  border-radius: var(--spacing-l);
  margin-bottom: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 0.2s color, 0.2s background-color, 0.2s border-color;
}

.button:focus {
  outline: var(--outline-width) solid var(--blue);
  outline-offset: 0;
}

.button--large {
  padding: calc(var(--spacing-xs) + 2px) var(--spacing-l);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.button--small {
  padding: var(--spacing-xxs) var(--spacing-m);
}

.button--extra-small {
  border: 1px solid;
  padding: var(--spacing-xxs) var(--spacing-s);
  font-size: var(--font-size-xs);
}

.button--primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-reverse);
}

.button--primary:hover {
  background-color: var(--brand-reverse);
  color: var(--brand-primary);
}

.button--secondary {
  border-color: var(--brand-primary);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);
}

.button--secondary:hover {
  background-color: var(--brand-primary);
  color: var(--brand-reverse);
}

:root {
  --card-width: 300px;
}

.card {
  position: relative;
  width: 300px;
  width: var(--card-width);
  height: auto;
  box-shadow: var(--box-shadow);
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.card__content {
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.card__image-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-icon {
  width: 2rem;
  height: 2rem;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border: 2px solid white;
  font-size: 4vw;
  font-weight: 400;
  font-family: 'Rock Salt', georgia;
  color: black;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: transform .25s ease;
}

@media (min-width: 600px) {
  .logo {
    font-size: 1.5rem;
    padding: 1rem;
    transform: translate3d(0px, 30px, 0px) rotate(-10deg) skew(-10deg, 0deg);
  }
}

.logo:hover {
  transform: translate3d(0, 0, 0) rotate(0deg) skew(0deg, 0deg);
}

.logo svg {
  width: 8vw;
  height: 8vw;
}

@media (min-width: 600px) {
  .logo svg {
    width: 40px;
    height: 40px;
  }
}

.tags {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: .25rem;
}

.tags h3 {
  display: flex;
  margin: 0;
}

.tags h3 svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: .5rem 0 0;
  list-style: none;
}

.tag {
  padding: .25rem .5rem;
  margin-right: .5rem;
  margin-top: .5rem;
  border-radius: .25rem;
  font-size: .875rem;
  line-height: 1;
  background-color: rgba(0, 0, 0, .025);
}

.tags__title {
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.post + .post {
  margin-top: 4rem;
}

.post__title {
  display: flex;
  padding: 1rem 0;
  width: 100vw;
  font-size: 1.125rem;
  line-height: 1.7;
  box-shadow: var(--box-shadow);
}

.post__title svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
}

.post__title span {
  padding-left: .25rem;
  padding-right: 2rem;
}

@media (min-width: 600px) {
  .post__title {
    font-size: 1.25rem;
  }

  .post__title svg {
    width: 2rem;
    height: 2rem;
    margin-right: .75rem;
  }
}

.post__content {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .post__content {
    display: flex;
  }
}

blockquote {
  background-image: linear-gradient(90deg, #E52E71, #FB8904);
  transform: rotate(-2deg) skew(-2deg, 0deg);
  background: linear-gradient(90deg, #E52E71, #FB8904);
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.5rem;
}

.date-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.date-box > div {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.1;
  margin-right: 1rem;
  color: #ccc;
}

@media (min-width: 600px) {
  .post-intro {
    display: flex;
  }

  .date-box {
    display: block;
    margin-top: 0;
  }

  .date-box > div {
    font-size: 60px;
    color: white;
    text-shadow: 0 0 1rem rgba(0,0,0,.1);
  }
}

.project-image.gatsby-image-wrapper {
  width: 400px;
  min-height: 400px;
}

.profile {
  position: relative;
  max-width: 800px;
  margin: 120px auto 0;
}

@media (min-width: 600px) {
  .profile {
    margin-top: 140px;
  }
}

@media (min-width: 1600px) {
  .profile {
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .profile__list-container {
    display: flex;
    align-items: center;
  }
}

.profile__list {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

@media (min-width: 600px) {
  .profile__list {
    margin-top: 0;
  }
}

.profile__list li {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.profile__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .5rem;
}

/*# sourceMappingURL=0.css.map*/