/**
 * Navigation
 *
 * .nav--inline - Links are displayed inline.
 *
 * Markup: navigation.twig
 *
 * Style guide: Elements.navigation
 */

.nav {
  & ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  & a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  & .button {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.nav--inline {
  & > ul > li {
    display: inline-block;
    margin-left: var(--spacing-m);
  }
}

/**
 * Dropdown Navigation
 *
 * Multi-level navigation with dropdowns. Typically used for primary navigation.
 *
 * Markup: navigation-dropdown.twig
 *
 * Style guide: Elements.navigation.dropdown-navigation
 */
.nav--dropdown {
  margin-top: var(--spacing-m);

  @media (--medium-up) {
    margin-top: 0;
  }

  & a:not(.button) {
    display: block;
    text-decoration: none;
    padding: var(--spacing-xs);
    border-top: 1px solid var(--brand-primary-light);
    border-bottom: 1px solid var(--brand-primary-light);

    @media (--medium-up) {
      border: 0;
    }

    &:hover,
    &:focus {
      @media (--medium-up) {
        background-color: var(--brand-primary-light);
        color: inherit;
        outline: 0 none;
        text-decoration: none;
      }
    }
  }

  & .nav__level-1 {
    @media (--medium-up) {
      & > li {
        position: relative;
        display: inline-block;
      }
    }
  }

  & .nav__level-2 {
    display: block;
    visibility: hidden;
    position: relative;
    height: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-var(--nav-dropdown-animation-distance));
    transition: 0.2s opacity ease, 0.2s transform ease, 0.2s visibility ease;

    @media (--medium-up) {
      position: absolute;
      width: var(--nav-dropdown-width);
      border-radius: var(--nav-dropdown-border-radius);
      box-shadow: var(--nav-dropdown-shadow);
      background-color: var(--nav-dropdown-bg);
    }

    &.nav--open {
      transform: translateY(0);
      opacity: 1;
      height: auto;
      visibility: visible;
    }

    &.nav--reverse {
      left: auto;
      right: 0;
    }

    & a:not(.button) {
      padding-left: var(--spacing-m);

      @media (--medium-up) {
        margin: var(--nav-dropdown-item-spacing);
        padding-left: var(--spacing-xs);
      }
    }
  }

  & .nav__separator {
    border-top: 1px solid var(--grey-25);
  }
}

/**
 * Dropdown Navigation - Mega Nav
 *
 * Multi column, Multi-level navigation with dropdowns. Typically used for primary navigation.
 *
 * Markup: navigation-mega-nav.twig
 *
 * Style guide: Elements.navigation.mega-nav
 */
.nav--mega-nav {
  @media (--medium-down) {
    max-height: 100%;
    overflow: auto;
  }

  & .nav__level-2 {
    width: 100%;
    overflow: hidden;

    @media (--medium-up) {
      width: var(--nav-dropdown-width);

      & li {
        width: var(--nav-dropdown-width);
      }
    }

    & a {
      margin: 0;
      padding: var(--nav-mega-nav-l2-item-spacing);

      &:not(.button) {
        padding-left: var(--spacing-m);
  
        @media (--medium-up) {
          margin: 0;
          padding: var(--nav-mega-nav-l2-item-spacing);
  
          &:hover,
          &:focus {
            background-color: var(--nav-mega-nav-active-bg);
            color: var(--nav-mega-nav-active-color);
          }
        }
      }
    }

    & [aria-expanded='true'] {
      background-color: var(--nav-mega-nav-active-bg);
      color: var(--nav-mega-nav-active-color);
    }
  }

  & .nav__level-3 {
    display: block;
    visibility: hidden;
    position: relative;
    height: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-var(--nav-dropdown-animation-distance));
    transition: 0.2s opacity ease, 0.2s transform ease, 0.2s visibility ease;

    @media (--medium-up) {
      position: absolute;
      left: var(--nav-dropdown-width);
      top: 0;
      width: var(--nav-dropdown-width);
      min-height: 100%;
      border-top-right-radius: var(--nav-dropdown-border-radius);
      border-bottom-right-radius: var(--nav-dropdown-border-radius);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
      background-color: var(--nav-mega-nav-active-bg);

      & a {
        color: var(--nav-mega-nav-active-color);

        &:hover,
        &:focus {
          color: var(--nav-mega-nav-active-bg);
          text-decoration: underline;
        }
      }
    }

    &.nav--open {
      transform: translateY(0);
      opacity: 1;
      height: auto;
      visibility: visible;
    }

    &.nav--reverse {
      left: auto;
      right: 0;
    }
  }
}

/**
 * Breadcrumb Navigation
 *
 * Inline navigation used for breadcrumbs.
 *
 * Markup: navigation-breadcrumb.twig
 *
 * Style guide: Elements.navigation.breadcrumb-navigation
 */
.nav--breadcrumb {
  position: relative;
  z-index: 1;

  & > ul > li {
    margin-left: 0;
    padding-right: var(--nav-breadcrumb-spacing);
    color: var(--nav-breadcrumb-color);
    font-size: var(--nav-breadcrumb-size);
    background-image: svg-load(
      "../dist/images/nav-chevron-right.svg",
      fill=var(--nav-breadcrumb-color)
    );
    background-repeat: no-repeat;
    background-position: right var(--spacing-xs) center;

    &:last-child {
      padding-right: 0;
      background-image: none;
    }

    & a {
      color: inherit;
    }
  }
}

/**
 * Footer Navigation
 *
 * Multi-column navigatino used in the footer..
 *
 * Markup: navigation-footer.twig
 *
 * Style guide: Elements.navigation.footer-navigation
 */
.nav--footer {
  & .nav__level-1 {
    column-count: 2;
    column-gap: var(--spacing-m);

    @media (--medium-up) {
      column-count: 3;
    }

    & > li {
      break-inside: avoid;
      margin-bottom: var(--spacing-l);

      & > a {
        display: block;
        margin-bottom: var(--spacing-l);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  & .nav__level-2 {
    & > li {
      margin-bottom: var(--spacing-s);
    }
  }
}
