/**
 * Buttons
 *
 * Style guide: Elements.buttons
 */

.button {
  display: inline-block;
  border: 2px solid;
  border-radius: var(--spacing-l);
  margin-bottom: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 0.2s color, 0.2s background-color, 0.2s border-color;

  &:focus {
    outline: var(--outline-width) solid var(--blue);
    outline-offset: 0;
  }
}

.button--large {
  padding: calc(var(--spacing-xs) + 2px) var(--spacing-l);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.button--small {
  padding: var(--spacing-xxs) var(--spacing-m);
}

.button--extra-small {
  border: 1px solid;
  padding: var(--spacing-xxs) var(--spacing-s);
  font-size: var(--font-size-xs);
}

/**
 * Primary Buttons
 *
 * .button--primary.button--large - Primary Large
 * .button--primary - Primary
 * .button--primary.button--small - Primary Small
 * .button--primary.button--extra-small - Primary Extra Small
 *
 * default: false
 *
 * Markup: button.twig
 *
 * Style guide: Elements.buttons.primary
 */

.button--primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}

/**
 * Secondary Buttons
 *
 * default: false
 *
 * .button--secondary.button--large - Secondary Large
 * .button--secondary - Secondary
 * .button--secondary.button--small - Secondary Small
 * .button--secondary.button--extra-small - Secondary Extra Small
 *
 * Markup: button.twig
 *
 * Style guide: Elements.buttons.secondary
 */
.button--secondary {
  border-color: var(--brand-primary);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: var(--brand-primary);
    color: var(--brand-reverse);
  }
}

/**
 * White Buttons
 *
 * default: false
 *
 * .button--white.button--large - White Large
 * .button--white - White
 * .button--white.button--small - White Small
 * .button--white.button--extra-small - White Extra Small
 *
 * Markup: button.twig
 *
 * Style guide: Elements.buttons.white
 */
.button--white {
  border-color: var(--brand-reverse);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: transparent;
    color: var(--brand-reverse);
  }
}

/**
 * Reverse Buttons
 *
 * default: false
 *
 * .button--reverse.button--large - Reverse Large
 * .button--reverse - Reverse
 * .button--reverse.button--small - Reverse Small
 * .button--reverse.button--extra-small - Reverse Extra Small
 *
 * Markup: button.twig
 *
 * Style guide: Elements.buttons.reverse
 */
.button--reverse {
  border-color: var(--brand-reverse);
  background-color: transparent;
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}
