/**
 * Buttons
 *
 * Style guide: Elements.buttons
 */

.button {
  display: inline-block;
  border: 2px solid;
  border-radius: var(--spacing-l);
  margin-bottom: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 0.2s color, 0.2s background-color, 0.2s border-color;

  &:focus {
    outline: var(--outline-width) solid var(--blue);
    outline-offset: 0;
  }
}

.button--large {
  padding: calc(var(--spacing-xs) + 2px) var(--spacing-l);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.button--small {
  padding: var(--spacing-xxs) var(--spacing-m);
}

.button--extra-small {
  border: 1px solid;
  padding: var(--spacing-xxs) var(--spacing-s);
  font-size: var(--font-size-xs);
}

/**
 * Primary Buttons
 *
 * Markup: button-primary.twig
 *
 * Style guide: Elements.buttons.primary
 */

.button--primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}

/**
 * Secondary Buttons
 *
 * Markup: button-secondary.twig
 *
 * Style guide: Elements.buttons.secondary
 */
.button--secondary {
  border-color: var(--brand-primary);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: var(--brand-primary);
    color: var(--brand-reverse);
  }
}

/**
 * White Buttons
 *
 * Markup: button-white.twig
 *
 * Style guide: Elements.buttons.white
 */
.button--white {
  border-color: var(--brand-reverse);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: transparent;
    color: var(--brand-reverse);
  }
}

/**
 * Reverse Buttons
 *
 * Markup: button-reverse.twig
 *
 * Style guide: Elements.buttons.reverse
 */
.button--reverse {
  border-color: var(--brand-reverse);
  background-color: transparent;
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}

/**
 * Icon Buttons
 *
 * .button--left - Left aligned Icons
 * .button--right - Right aligned Icons
 * .button--icon-only - Icon only
 *
 * Default: false
 *
 * Markup: button-icon.twig
 *
 * Style guide: Elements.buttons.icon
 */

.button--left {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-m);
  background-position: left var(--spacing-s) center;

  &.button--large {
    padding-left: var(--spacing-xxl);
  }

  &.button--small {
    padding-left: var(--spacing-l);
    background-position: left var(--spacing-xs) center;
  }

  &.button--extra-small {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-s);
    background-position: left var(--spacing-xs) center;
  }
}

.button--right {
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-xxxl);
  background-position: right var(--spacing-s) center;

  &.button--large {
    padding-right: var(--spacing-xxxxl);
  }

  &.button--small {
    padding-left: calc(var(--spacing-xs) + var(--spacing-xxs));
    padding-right: var(--spacing-xl);
    background-position: right var(--spacing-xs) center;
  }

  &.button--extra-small {
    padding-left: calc(var(--spacing-xs) + var(--spacing-xxs));
    padding-right: var(--spacing-xl);
    background-position: right var(--spacing-xs) center;
  }
}

.button--icon-only {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  padding: 0;
  text-indent: -100vw;
  background-position: center center;
  overflow: hidden;

  &.button--large {
    width: var(--spacing-xxl);
    height: var(--spacing-xxl);
  }

  &.button--small {
    width: var(--spacing-l);
    height: var(--spacing-l);
  }

  &.button--extra-small {
    width: var(--spacing-m);
    height: var(--spacing-m);
  }
}
