/**
 * Base
 *
 * Style guide: base
 */

html {
  font-size: 100%; /* 16px in most browsers */
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--brand-text);

  @supports (font-variation-settings: normal) {
    font-family: var(--font-family-variable);
  }
}

* {
  box-sizing: border-box;
}

/**
 * Colors
 *
 * Markup: colors.twig
 *
 * Style guide: base.colors
 */
.white {
  background-color: var(--white);
}

.grey-05 {
  background-color: var(--grey-05);
}

.grey-10 {
  background-color: var(--grey-10);
}

.grey-25 {
  background-color: var(--grey-25);
}

.grey-50 {
  background-color: var(--grey-50);
}

.grey-75 {
  background-color: var(--grey-75);
}

.black {
  background-color: var(--black);
}

.blue {
  background-color: var(--blue);
}

.blue-50 {
  background-color: var(--blue-50);
}

.blue-10 {
  background-color: var(--blue-10);
}

.orange {
  background-color: var(--orange);
}

.orange-10 {
  background-color: var(--orange-10);
}

.green {
  background-color: var(--green);
}

.green-10 {
  background-color: var(--green-10);
}

.red {
  background-color: var(--red);
}

.red-10 {
  background-color: var(--red-10);
}

.yellow {
  background-color: var(--yellow);
}

.yellow-10 {
  background-color: var(--yellow-10);
}

/**
 * Typography
 *
 * Markup: typography.twig
 *
 * Style guide: base.typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h);
}

h1 {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-xxxl);
}

h2 {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-m);
  font-size: var(--font-size-xxl);
}

h3 {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-m);
  font-size: var(--font-size-xl);
}

h4 {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-m);
  font-size: var(--font-size-l);
}

h5 {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-s);
  font-size: var(--font-size-m);
}

h6 {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-s);
}

p {
  margin-top: 0;
  margin-bottom: var(--spacing-m);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

blockquote {
  margin: 0;
  padding-left: var(--spacing-m);
  border-left: 6px solid var(--brand-text);
}

ol,
ul {
  margin-top: 0;
  margin-bottom: var(--spacing-m);
  padding-left: var(--spacing-m);
}

a {
  color: var(--brand-text);
  transition: 0.2s color;

  &:hover {
    color: var(--blue-50);
  }

  &:focus {
    outline: var(--outline-width) solid var(--blue);
    outline-offset: var(--outline-offset);
  }
}

/**
 * Text Sizes
 *
 * Markup: text-sizes.twig
 *
 * Style guide: base.typography.text-sizes
 */

.text--headline {
  font-size: var(--font-size-xxxxl);
  font-weight: var(--font-weight-heavy);
}

.text--xxxl {
  font-size: var(--font-size-xxxl);
}

.text--xxl {
  font-size: var(--font-size-xxl);
}

.text--xl {
  font-size: var(--font-size-xl);
}

.text--l {
  font-size: var(--font-size-l);
}

.text--m {
  font-size: var(--font-size-m);
}

.text--s {
  font-size: var(--font-size-s);
}

.text--xs {
  font-size: var(--font-size-xs);
}

/**
 * Text Alignment
 *
 * Markup: text-alignment.twig
 *
 * Style guide: base.typography.text-alignment
 */

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

/**
 * Spacing
 *
 * Reusable spacing styles.
 *
 * .spacing--xs - .spacing--xs
 * .spacing--s - .spacing--s
 * .spacing--m - .spacing--m
 * .spacing--l - .spacing--l
 * .spacing--xl - .spacing--xl
 * .spacing--top-xs - .spacing--top-xs
 * .spacing--top-s - .spacing--top-s
 * .spacing--top-m - .spacing--top-m
 * .spacing--top-l - .spacing--top-l
 * .spacing--top-xl - .spacing--top-xl
 * .spacing--bottom-xs - .spacing--bottom-xs
 * .spacing--bottom-s - .spacing--bottom-s
 * .spacing--bottom-m - .spacing--bottom-m
 * .spacing--bottom-l - .spacing--bottom-l
 * .spacing--bottom-xl - .spacing--bottom-xl
 * .spacing--left-xs - .spacing--left-xs
 * .spacing--left-s - .spacing--left-s
 * .spacing--left-m - .spacing--left-m
 * .spacing--left-l - .spacing--left-l
 * .spacing--left-xl - .spacing--left-xl
 * .spacing--right-xs - .spacing--right-xs
 * .spacing--right-s - .spacing--right-s
 * .spacing--right-m - .spacing--right-m
 * .spacing--right-l - .spacing--right-l
 * .spacing--right-xl - .spacing--right-xl
 *
 * Default: false
 *
 * Markup: spacing.twig
 *
 * Style guide: base.spacing
 */

.spacing--xs {
  padding: var(--spacing-xs);
}

.spacing--s {
  padding: var(--spacing-s);
}

.spacing--m {
  padding: var(--spacing-m);
}

.spacing--l {
  padding: var(--spacing-l);
}

.spacing--xl {
  padding: var(--spacing-xl);
}

.spacing--top-xs {
  padding-top: var(--spacing-xs);
}

.spacing--top-s {
  padding-top: var(--spacing-s);
}

.spacing--top-m {
  padding-top: var(--spacing-m);
}

.spacing--top-l {
  padding-top: var(--spacing-l);
}

.spacing--top-xl {
  padding-top: var(--spacing-xl);
}

.spacing--bottom-xs {
  padding-bottom: var(--spacing-xs);
}

.spacing--bottom-s {
  padding-bottom: var(--spacing-s);
}

.spacing--bottom-m {
  padding-bottom: var(--spacing-m);
}

.spacing--bottom-l {
  padding-bottom: var(--spacing-l);
}

.spacing--bottom-xl {
  padding-bottom: var(--spacing-xl);
}

.spacing--left-xs {
  padding-left: var(--spacing-xs);
}

.spacing--left-s {
  padding-left: var(--spacing-s);
}

.spacing--left-m {
  padding-left: var(--spacing-m);
}

.spacing--left-l {
  padding-left: var(--spacing-l);
}

.spacing--left-xl {
  padding-left: var(--spacing-xl);
}

.spacing--right-xs {
  padding-right: var(--spacing-xs);
}

.spacing--right-s {
  padding-right: var(--spacing-s);
}

.spacing--right-m {
  padding-right: var(--spacing-m);
}

.spacing--right-l {
  padding-right: var(--spacing-l);
}

.spacing--right-xl {
  padding-right: var(--spacing-xl);
}
