/**
 * Previous Next
 *
 * A set of links to the previous and next pages.
 *
 * Markup: previous-next.twig
 *
 * Style guide: Elements.previous-next
 */
 
.previous-next {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: var(--spacing-xxxl);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  & .previous-next__link {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    height: 100%;
    width: 50%;
  }

  & .previous-next__prev {
    justify-self: start;
    justify-content: center;
    align-items: flex-end;
    border-right: 1px solid var(--border-color);
    text-align: right;
    outline-offset: -2px;
    background-image: svg-load(
      "../dist/images/arrow-left.svg",
      fill=var(--black)
    );
    background-repeat: no-repeat;
    background-position: var(--spacing-s) center;
  }

  & .previous-next__next {
    justify-self: end;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    outline-offset: -2px;
    background-image: svg-load(
      "../dist/images/arrow-right.svg",
      fill=var(--black)
    );
    background-repeat: no-repeat;
    background-position: calc(100% - var(--spacing-s)) center;
  }

  & a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: var(--spacing-xxl) var(--spacing-l);
    text-decoration: none;
    color: var(--title-color);

    & .previous-next__page-title {
      position: relative;
      display: inline-block;
      font-size: var(--font-size-m);
      font-weight: var(--font-weight-bold);
    }
  
    & .previous-next__title {
      font-size: var(--font-size-s);
      font-weight: var(--font-weight-bold);
      color: var(--title-color);
      margin-bottom: var(--spacing-xxs);
    }

    &:hover {
      text-decoration: none;
      color: var(--active-color);
      background-color: var(--active-bg);

      & .previous-next__title {
        color: var(--active-title-color);
      }

      &.previous-next__prev {
        background-image: svg-load(
          "../dist/images/arrow-left.svg",
          fill=var(--brand-reverse)
        );
        background-repeat: no-repeat;
        background-position: var(--spacing-s) center;
      }
    
      &.previous-next__next {
        background-image: svg-load(
          "../dist/images/arrow-right.svg",
          fill=var(--brand-reverse)
        );
        background-repeat: no-repeat;
        background-position: calc(100% - var(--spacing-s)) center;
      }
    }
  }
}
