/**
 * Form
 *
 * Style guide: form
 */

/**
 * Text Input
 *
 * .error - Error state
 * .success - Success state
 *
 * Markup: input-text.twig
 *
 * Style guide: form.text-input
 */

.input__text,
[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
[type="time"],
[type="number"] {
  max-width: 100%;
  min-width: 50%;
  padding: calc(var(--form-spacing) - var(--spacing-xxs)) var(--form-spacing);
  border: var(--form-border-width) solid var(--form-border-color);
  border-radius: var(--form-border-radius);
  font-size: var(--form-text-size);
  color: var(--form-text-color);
  line-height: var(--line-height-ui);

  &:focus {
    border-color: var(--form-border-color-focus);
    outline: none;
  }

  &::placeholder {
    color: var(--form-placeholder-color);
  }

  &.error {
    padding-right: var(--spacing-xl);
    border-color: var(--form-color-error);
    background-image: svg-load(
      "../dist/images/form-error.svg",
      fill=var(--form-color-error)
    );
    background-repeat: no-repeat;
    background-position: right var(--spacing-xs) center;

    &:focus {
      border-color: var(--form-border-color-focus);
    }
  }

  &.success {
    padding-right: var(--spacing-xl);
    border-color: var(--form-color-success);
    background-image: svg-load(
      "../dist/images/form-success.svg",
      fill=var(--form-color-success)
    );
    background-repeat: no-repeat;
    background-position: right var(--spacing-xs) center;

    &:focus {
      border-color: var(--form-border-color-focus);
    }
  }
}

/**
 * Text Input with Icon
 *
 * .error - Error state
 * .success - Success state
 *
 * Markup: input-text-icon.twig
 *
 * Style guide: form.text-input-icon
 */

.input__text--icon {
  display: inline-block;
  max-width: 100%;
  min-width: 50%;
  border-radius: var(--form-border-radius);
  background-color: var(--white);
  background-position: var(--spacing-s) center;

  & input {
    width: 100%;
    padding-left: var(--spacing-xl);
    background-color: transparent;
  }
}

/**
 * Text Input with Inline Button
 *
 * Markup: input-text-inline-submit.twig
 *
 * Style guide: form.text-input-inline-submit
 */

.input__text--inline {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 50%;
  border-radius: var(--form-border-radius);
  background-color: var(--white);
  background-position: var(--spacing-s) center;

  & [type="text"] {
    width: 100%;
    padding-left: var(--spacing-xl);
    padding-right: 6rem;
    background-color: transparent;
  }

  & [type="submit"] {
    position: absolute;
    top: var(--spacing-xxs);
    right: var(--spacing-xxs);
    border-radius: 3px;
  }
}

/**
 * Label
 *
 * The form `label` element must be present for all form elements, and have a `for` attribute that matches the `id` of the
 * associated form element.
 *
 * .label--inline - Inline label.
 * 
 * Markup: label.twig
 *
 * Style guide: form.label
 */

label,
legend {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-size: var(--form-text-size);
  color: var(--form-text-color);

  &.label--inline {
    display: inline-block;
    margin-bottom: 0;
    margin-right: var(--spacing-xs);
  }
}

/** 
 * Checkbox (multiple)
 *
 * The standard `input[type="checkbox"]` element, using a fieldset and legend as
 * the accessible way to group and label multiple checkbox inputs.
 *
 * Optionally a tooltip can be used by using the `aria-describedby` attribute
 * on the fieldset itself.
 *
 * Markup: input-checkbox.twig
 *
 * Style guide: form.checkbox-multiple
 */

/**
 * Checkbox (single)
 *
 * Used for things like accepting terms and conditions and opting in to
 * communications.
 *
 * Markup: input-checkbox-single.twig
 *
 * Style guide: form.checkbox-single
 */

/**
 * Radios (multiple)
 *
 * The standard `input[type="radio"]` element, using a fieldset and legend as
 * the accessible way to group and label multiple radio inputs.
 *
 * Optionally a tooltip can be used by using the `aria-describedby` attribute
 * on the fieldset itself.
 *
 * Markup: input-radio.twig
 *
 * Style guide: form.radios
 */

.form__radio,
.form__checkbox {
  margin: 0 0 var(--spacing-xs);
  padding: 0 var(--spacing-m);
  border-bottom: 0 none;
  position: relative;

  & label {
    cursor: pointer;
  }

  & [type="radio"],
  & [type="checkbox"] {
    position: absolute;
    left: 0;
    top: var(--spacing-xxs);
    margin: 0;
  }
}
/**
 * Textarea
 *
 * A textarea field is used for multiple lines of text input.
 *
 * Markup: textarea.twig
 *
 * Style guide: form.textarea
 */

%textarea,
textarea {
  padding: var(--form-spacing);
  height: calc(4 * var(--form-element-height));
  width: 100%;
  border: var(--form-border-width) solid var(--form-border-color);
  border-radius: var(--form-border-radius);
  font-size: var(--form-text-size);
  color: var(--form-text-color);

  &:focus {
    border-color: var(--form-border-color-focus);
    outline: none;
  }
}

/**
 * Fieldset
 *
 * The fieldset element is used for grouping form elements. See the [Checkbox (multiple)](/section-form.html#kssref-form-checkbox-multiple)
 * and [Radios (multiple)](/section-form.html#kssref-form-radios) components for how it is best used.
 *
 * Markup: fieldset.twig
 *
 * Style guide: form.fieldset
 */

fieldset {
  border: var(--form-border-width) solid var(--form-border-color);
  border-radius: var(--form-border-radius);
  padding: var(--form-spacing);
  margin: 0 0 var(--form-spacing);
  min-width: 0;

  & legend {
    font-size: var(--form-text-size);
    margin-bottom: var(--form-spacing);
    padding: 0 var(--form-spacing);
  }
}
/**
 * Description
 *
 * Text that describes a form field. The form element must have an `aria-describedby` attribute that points to the
 * `id` of the description text.
 *
 * Markup: form-description.twig
 *
 * Style guide: form.description
 */

.form__description {
  margin: var(--form-spacing) 0;
  font-size: var(--form-description-size);
}

/**
 * Error message
 *
 * The error state with a red border and message.
 *
 * Markup: form-error.twig
 *
 * Style guide: form.error
 */

.form__error-message {
  margin: var(--form-spacing) 0;
  font-size: var(--form-description-size);
  color: var(--form-text-color);
  padding-left: var(--spacing-m);
  background-image: svg-load(
    "../dist/images/form-error.svg",
    fill=var(--form-color-error)
  );
  background-repeat: no-repeat;
  background-position: left center;
}
