:root {
  --form-spacing: var(--spacing-s);
  --form-element-height: var(--spacing-xl);

  --form-text-size: var(--font-size-s);
  --form-description-size: var(--font-size-xs);
  --form-text-color: var(--black);
  --form-placeholder-color: var(--grey-50);
  --form-color-success: var(--green);
  --form-color-error: var(--red);

  --form-border-color: var(--grey-10);
  --form-border-color-focus: var(--blue);
  --form-border-width: 2px;
  --form-border-radius: 3px;
}
