/**
 * Page
 *
 * .page__middle--contained - Page middle has container max size.
 *
 * Markup: page.twig
 *
 * Style guide: Layout.page
 */

/**
 * Page with Sidebar
 *
 * Markup: page-sidebar.twig
 *
 * Style guide: Layout.page-sidebar
 */

/**
 * Page Title
 *
 * Markup: page-title.twig
 *
 * Style guide: Grouped Components.page-title
 */

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__middle {
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  width: 100%;
}

.page__middle--contained {
  max-width: var(--container-max-width);
}

.page__sidebar,
.page__sections {
  @media (--medium-to-large) {
    width: 100%;
    grid-column: auto / span 12;
  }
}

.page__sections > .section > .section__content,
.page__middle > .section > .section__content {
  padding-left: 0;
  padding-right: 0;
}
