:root {
  --tile-height-small: 160px;
  --tile-height-medium: 240px;
  --tile-height-large: 433px;

  --tile-text-color: var(--white);
  --tile-text-hover: var(--black);
  --tile-bg: var(--brand-primary);
  --tile-bg-hover: var(--brand-secondary);

  --tile-border-radius: 6px;

  --tile-hover-hide-height: 64px;
}
