/**
 * Grid
 *
 * Wrapper: container
 *
 * Markup: grid.twig
 *
 * Style guide: Layout.grid
 */

@media (--small-up) {
  .grid {
    display: flex;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .grid__col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .grid--12-col,
  .grid--11-col,
  .grid--10-col,
  .grid--9-col,
  .grid--8-col,
  .grid--7-col {
    width: 100%;
  }

  .grid--6-col,
  .grid--5-col,
  .grid--4-col,
  .grid--3-col {
    width: 50%;
  }

  .grid--2-col,
  .grid--1-col {
    width: 25%;
  }

  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      grid-gap: var(--spacing-m);
      margin-left: 0;
      margin-right: 0;
    }

    .grid__col {
      padding-left: 0;
      padding-right: 0;
    }

    .grid--12-col,
    .grid--11-col,
    .grid--10-col,
    .grid--9-col,
    .grid--8-col,
    .grid--7-col {
      grid-column: auto / span 12;
      width: auto;
    }

    .grid--6-col,
    .grid--5-col,
    .grid--4-col,
    .grid--3-col {
      grid-column: auto / span 6;
      width: auto;
    }

    .grid--2-col,
    .grid--1-col {
      grid-column: auto / span 3;
      width: auto;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: var(--spacing-m);
  }
}

@media (--medium-up) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .grid__col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .grid--12-col {
    width: 100%;
  }

  .grid--11-col {
    width: 91.6667%;
  }

  .grid--10-col {
    width: 83.3333%;
  }

  .grid--9-col {
    width: 75%;
  }

  .grid--8-col {
    width: 66.6667%;
  }

  .grid--7-col {
    width: 58.3333%;
  }

  .grid--6-col {
    width: 50%;
  }

  .grid--5-col {
    width: 41.6667%;
  }

  .grid--4-col {
    width: 33.3333%;
  }

  .grid--3-col {
    width: 25%;
  }

  .grid--2-col {
    width: 16.6667%;
  }

  .grid--1-col {
    width: 8.3333%;
  }

  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
      margin-left: 0;
      margin-right: 0;
    }

    .grid__col {
      padding-left: 0;
      padding-right: 0;
    }

    .grid--12-col {
      grid-column: auto / span 12;
      width: auto;
    }

    .grid--11-col {
      grid-column: auto / span 11;
      width: auto;
    }

    .grid--10-col {
      grid-column: auto / span 10;
      width: auto;
    }

    .grid--9-col {
      grid-column: auto / span 9;
      width: auto;
    }

    .grid--8-col {
      grid-column: auto / span 8;
      width: auto;
    }

    .grid--7-col {
      grid-column: auto / span 7;
      width: auto;
    }

    .grid--6-col {
      grid-column: auto / span 6;
      width: auto;
    }

    .grid--5-col {
      grid-column: auto / span 5;
      width: auto;
    }

    .grid--4-col {
      grid-column: auto / span 4;
      width: auto;
    }

    .grid--3-col {
      grid-column: auto / span 3;
      width: auto;
    }

    .grid--2-col {
      grid-column: auto / span 2;
      width: auto;
    }

    .grid--1-col {
      grid-column: auto / span 1;
      width: auto;
    }
  }
}

@media (--x-large-up) {
  @supports (display: grid) {
    .grid {
      grid-gap: var(--spacing-l);
    }
  }
}

/**
 * Section
 *
 * A discrete page section with padding.
 *
 * .section--top-m.section--bottom-m - Section with moderate vertical spacing.
 * .section--top-l.section--bottom-l - Section with large vertical spacing.
 * .section--narrow - A narrow section, centered
 * .section--narrow-left - A narrow section, sitting to the left
 * .section--narrow-right - A narrow section, sitting to the right
 *
 * Markup: section.twig
 *
 * Style guide: Layout.section
 */

.section {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}
.section--top-xs {
  padding-top: var(--spacing-xs);
}

.section--top-s {
  padding-top: var(--spacing-s);
}

.section--top-m {
  padding-top: var(--spacing-xl);
}

.section--top-l {
  padding-top: var(--spacing-uul);
}

.section--bottom-xs {
  padding-bottom: var(--spacing-xs);
}

.section--bottom-s {
  padding-bottom: var(--spacing-s);
}

.section--bottom-m {
  padding-bottom: var(--spacing-xl);
}

.section--bottom-l {
  padding-bottom: var(--spacing-uul);
}

.section__content {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-m);
}

.section--narrow {
  & .section__content {
    max-width: var(--container-max-width-narrow);
    margin: 0 auto;
  }
}

.section--narrow-left {
  & .section__content {
    max-width: var(--container-max-width-aligned);
    margin: 0 auto 0 0;
  }
}

.section--narrow-right {
  & .section__content {
    max-width: var(--container-max-width-aligned);
    margin: 0 0 0 auto;
  }
}
