@import '../../constants/src/constants.css';

.button {
  display: inline-block;
  border: 2px solid;
  border-radius: var(--spacing-l);
  margin-bottom: var(--spacing-xxs);
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: var(--font-size-s);
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  transition: 0.2s color, 0.2s background-color, 0.2s border-color;

  &:focus {
    outline: var(--outline-width) solid var(--blue);
    outline-offset: 0;
  }
}

.button--large {
  padding: calc(var(--spacing-xs) + 2px) var(--spacing-l);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
}

.button--small {
  padding: var(--spacing-xxs) var(--spacing-m);
}

.button--extra-small {
  border: 1px solid;
  padding: var(--spacing-xxs) var(--spacing-s);
  font-size: var(--font-size-xs);
}

.button--primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}

.button--secondary {
  border-color: var(--brand-primary);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: var(--brand-primary);
    color: var(--brand-reverse);
  }
}

.button--white {
  border-color: var(--brand-reverse);
  background-color: var(--brand-reverse);
  color: var(--brand-primary);

  &:hover {
    background-color: transparent;
    color: var(--brand-reverse);
  }
}

.button--reverse {
  border-color: var(--brand-reverse);
  background-color: transparent;
  color: var(--brand-reverse);

  &:hover {
    background-color: var(--brand-reverse);
    color: var(--brand-primary);
  }
}
