/*
 * Import @mixtape CSS.
 */

@import "../packages/constants/src/constants.css";
@import "../packages/base/src/_fonts.css";
@import "../packages/base";
@import "../packages/buttons";

/*
 * KSS only styles
 */
#kss-node {
  margin: 0;
}

/*
 * Colors
 */
#kssref-example-base-colors .kss-example > div {
  display: inline-block;
  margin: var(--spacing-xs);
  padding: var(--spacing-l);
  width: var(--spacing-m);
  border-radius: var(--spacing-xxs);
  box-shadow: 0 1px var(--spacing-xxs) var(--grey-50);
}

/*
 * Icons
 */
#kssref-example-base-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px minmax(20px, 1fr));
}
#kssref-example-base-icon .kss-style {
  align-self: center;
  margin-bottom: 0 !important;
}

#kssref-example-base-icon .kss-example {
  margin-bottom: 0;
}

/*
 * Spacing
 */
#kssref-example-base-spacing .kss-style {
  display: none;
}

#kssref-example-base-spacing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing-s);
}

#kssref-example-base-spacing .spacing {
  border: 1px solid var(--black);
  background-color: var(--blue-10);
  background-clip: content-box;
}

/*
 * Buttons
 */
#kssref-elements-buttons-reverse .kss-section__example,
#kssref-elements-buttons-white .kss-section__example {
  background-color: var(--grey-75);
}

#kssref-example-elements-buttons-white {
  & .kss-style {
    color: var(--white);
  }
}

#kssref-example-elements-buttons-reverse {
  & .kss-style {
    color: var(--white);
  }
}

#kssref-example-elements-buttons-icon .kss-example > div {
  padding: var(--spacing-m);

  & .button {
    vertical-align: top;
  }
}

/*
 * Add highlight to grid so it is visible in examples
 */
#kssref-example-layout-grid .grid {
  margin-bottom: var(--spacing-m);

  & .grid__col {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brand-reverse);
    font-weight: bold;
    font-size: var(--font-size-xxxl);
    line-height: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

#kssref-example-layout-grid .grid__col {
  padding: var(--spacing-m) 0;
  background-color: var(--red-10);
  border: 1px solid var(--red);
}

/*
 * Highlight section variants
 */
#kssref-example-layout-section .kss-example {
  background-color: var(--grey-10);
}

/*
 * Navigation examples
 */
#kssref-example-elements-navigation-dropdown-navigation .kss-example,
#kssref-example-elements-dropdown-navigation,
#kssref-example-elements-navigation-dropdown-navigation,
#kssref-example-elements-primary-header {
  & .kss-example {
    height: 350px;
  }
}

#kssref-example-elements-primary-header-stacked,
#kssref-example-elements-navigation-mega-nav {
  & .kss-example {
    height: 550px;
  }
}

/*
 * Page
 */
#kssref-example-layout-page .page,
#kssref-example-layout-page-sidebar .page {
  /* min-height: 100vh breaks iframe sizing js. */
  min-height: 0;
}

#kssref-example-layout-page .page__middle {
  padding: var(--spacing-m) 0;
  background-color: var(--red-10);
  border: 1px solid var(--red);
}

#kssref-example-layout-page-sidebar .grid__col {
  padding: var(--spacing-m) 0;
  background-color: var(--red-10);
  border: 1px solid var(--red);
}
